<div class="background-shape"></div>

<div class="head-title">
    Add an activity
</div>

        <div class="type-holder">
            <div class="type" onClick="move_icons()">
                <i class="fas fa-bicycle"></i>
                <p>Biking</p>
            </div>
            <div class="type">
                <i class="fas fa-volleyball-ball"></i>
                <p>Volley</p>
            </div>
            <div class="type">
                <i class="fas fa-baseball-ball"></i>
                <p>Baseball</p>
            </div>
            <div class="type">
                <i class="fas fa-basketball-ball"></i>
                <p>Basketball</p>
            </div>
            <div class="type">
                <i class="fas fa-hockey-puck"></i>
                <p>Hockey</p>
            </div>
            <div class="type">
                <i class="fas fa-quidditch"></i>
                <p>Quidditch</p>
            </div>
            <div class="type">
                <i class="fas fa-swimmer"></i>
                <p>Swimming</p>
            </div>
            <div class="type">
                <i class="fas fa-dumbbell"></i>
                <p>Strength Training</p>
            </div>
            <div class="type">
                <i class="fas fa-snowboarding"></i>
                <p>Snowboarding</p>
            </div>
            <div class="type">
                <i class="fas fa-skiing"></i>
                <p>Ski</p>
            </div>
            <div class="type">
                <i class="fas fa-skiing-nordic"></i>
                <p>Nordic Skiing</p>
            </div>
            <div class="type">
                <i class="fas fa-skating"></i>
                <p>Skating</p>
            </div>
            <div class="type">
                <i class="fas fa-bowling-ball"></i>
                <p>Bowling</p>
            </div>
            <div class="type">
                <i class="fab fa-accessible-icon"></i>
                <p>Wheelchair</p>
            </div>
            <div class="type">
                <i class="fas fa-hiking"></i>
                <p>Hiking</p>
            </div>
            <div class="type">
                <i class="fas fa-running"></i>
                <p>Running</p>
            </div>
            <div class="type">
                <i class="fas fa-walking"></i>
                <p>Walking</p>
            </div>
        </div>

        <div class="input-holder">
            <input type="text" placeholder="Date" />
            <input type="text" placeholder="Time" />
            <input
                type="submit"
                value="Submit"
                onclick="location.href = 'index.html'"
            />
        </div>
        <script src="scripts/activityregistration.js"></script>