.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: white;

    i {
        margin: 8px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

@media screen and (max-height: 820px) {
    .footer {
        visibility: hidden;
    }
}
