<div class="background-shape"></div>

<div class="content-holder">
    <div class="type-holder">
        <div class="type" onClick="setActivityType('Bike', event)">
            <i class="fas fa-bicycle"></i>
            <p>Bike</p>
        </div>
        <div class="type" onClick="setActivityType('Volley', event)">
            <i class="fas fa-volleyball-ball"></i>
            <p>Volley</p>
        </div>
        <div class="type" onClick="setActivityType('Baseball', event)">
            <i class="fas fa-baseball-ball"></i>
            <p>Baseball</p>
        </div>
        <div class="type" onClick="setActivityType('Basketball', event)">
            <i class="fas fa-basketball-ball"></i>
            <p>Basketball</p>
        </div>
        <div class="type" onClick="setActivityType('Hockey', event)">
            <i class="fas fa-hockey-puck"></i>
            <p>Hockey</p>
        </div>
        <div class="type" onClick="setActivityType('Quidditch', event)">
            <i class="fas fa-quidditch"></i>
            <p>Quidditch</p>
        </div>
        <div class="type" onClick="setActivityType('Swimming', event)">
            <i class="fas fa-swimmer"></i>
            <p>Swimming</p>
        </div>
            <div class="type" onClick="setActivityType('Strength Training', event)">
                <i class="fas fa-dumbbell"></i>
                <p>Strength Training</p>
            </div>
            <div class="type" onClick="setActivityType('Snowboard', event)">
                <i class="fas fa-snowboarding"></i>
                <p>Snowboard</p>
            </div>
            <div class="type" onClick="setActivityType('Ski', event)">
                <i class="fas fa-skiing"></i>
                <p>Ski</p>
            </div>
            <div class="type" onClick="setActivityType('Nordic Ski', event)">
                <i class="fas fa-skiing-nordic"></i>
                <p>Nordic Ski</p>
            </div>
            <div class="type" onClick="setActivityType('Skate', event)">
                <i class="fas fa-skating"></i>
                <p>Skate</p>
            </div>
            <div class="type" onClick="setActivityType('Bowling', event)">
                <i class="fas fa-bowling-ball"></i>
                <p>Bowling</p>
            </div>
            <div class="type" onClick="setActivityType('Wheelchair', event)">
                <i class="fab fa-accessible-icon"></i>
                <p>Wheelchair</p>
            </div>
            <div class="type" onClick="setActivityType('Hiking', event)">
                <i class="fas fa-hiking"></i>
                <p>Hiking</p>
            </div>
            <div class="type" onClick="setActivityType('Running', event)">
                <i class="fas fa-running"></i>
                <p>Running</p>
            </div>
            <div class="type" onClick="setActivityType('Walking', event)">
                <i class="fas fa-walking"></i>
                <p>Walking</p>
            </div>
        </div>
<%= render 'form', activity: @activity %>

</div>
